<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="js/lib/angular/angular.min.js"></script>
</head>
<body ng-controller="productController">
	<table id="table-1" border="1" cellpadding="2" cellspacing="2">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Preço</th>
			<th></th>
		</tr>
		<tr ng-repeat="product in result">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.price}}</td>
			<td>
				<a href="#" ng-click="del(product.id)">Delete</a>
				<a href="#" ng-click="edit(product)">Edit</a>
			</td>
		</tr>
	</table>
	<br/>
	<fieldset>
		<legend>Informações do Produto</legend>
		<table id="table-1" cellpadding="2" cellspacing="2">
			<tr>
				<td>Nome</td>
				<td><input type="text" ng-model="product.name"></td>
			</tr>
			<tr>
				<td>Preço</td>
				<td><input type="text" ng-model="product.price"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="button" value="Adicionar" ng-click="add()">
					<input type="button" value="Atualizar" ng-click="update()">
				</td>
			</tr>
		</table>
	</fieldset>
	<script type="text/javascript">
		var myapp = angular.module('myapp', []);
		myapp.controller('productController', function($scope, $http){
			$scope.base_url = 'http://localhost:8080/teste/rest/products/';
			$http.get($scope.base_url + 'getAllProducts').success(function(response){
				$scope.result = response.data;
			});

			$scope.add = function(){
				$http.post($scope.base_url, $scope.product).success(function(response){
					$http.get($scope.base_url + 'getAllProducts').success(function(response){
						$scope.result = response.data;
					});
				});
			};

			$scope.del = function(id){
				var result = confirm('Tem certeza que deseja deletar o registro?');
				if(result == true){
					$http.delete($scope.base_url + 'deleteProduct/' + id).success(function(response){
						$http.get($scope.base_url + 'getAllProducts').success(function(response){
							$scope.result = response.data;
						});
					});
				}				
			};

			$scope.edit = function(product){
				$scope.product = product;
				
			};

			$scope.update = function(){
				$http.put($scope.base_url, $scope.product).success(function(response){
					$http.get($scope.base_url + 'getAllProducts').success(function(response){
						$scope.result = response.data;
					});
				});
			};
		});
	</script>

</body>
</html>